    <div class="jumbotron">
        <h1>Técnico Senai</h1>
        <p class="lead">"Realmente uma honra estar ao lado de grandes nomes do FIESC e do Banco do Brasil enquanto faço o curso técnico no Senai. A aprendizagem é bom, mas, como tudo não é perfeito, eu não to entendendo nada socorro."</br>-Davi Araujo Cândido</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Cadastre-se</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Professores</h4>
          <p>Professores totalmente capacitados na area de aprendizagem para industrias.</p>

          <h4>Comida</h4>
          <p>Boa, mas acaba rápido. Já foi melhor.</p>

          <h4>Material de Aprendizagem</h4>
          <p>Bem amplo.</p>
        </div>

        <div class="col-lg-6">
          <h4>Companheiros</h4>
          <p>Desconheço.</p>

          <h4>Aprendizagem</h4>
          <p>Muito bom. Nos é ensinado várias coisas alem do que está na grade, como algo complementar.</p>

          <h4>Biblioteca</h4>
          <p>Ampla.</p>
        </div>
      </div>
    </div> 